/* slider root element */
.slider {
    background:#fff;
    height:9px;
    position:relative;
    cursor:pointer;
    border-top:1px solid #333;
    width:100%;
    float:left;
    clear:right;
    margin-top:5px;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:#fff;
    height:12px;
    width:12px;
    top:-3px;
    position:absolute;
    display:block;
    margin-top:1px;
    border:1px solid #000;
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;

}

/* the input field */
.range {
    display: none;
}
