/* GLOBAL STYLE RULES */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

.specific-font {
  font-family: Helvetica, sans-serif;
}

.header-40 {
  height: calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
}

/* HEADER */
#header {
  line-height: 40px;
  font-size: 25px;
  height: 40px;
  background: #fff;
  color: #2A557F;
}

#header #title {
  float: left;
  padding: 0 5px;
}

#header #title img {
  float: left;
  padding-right: 10px;
}

.btn {
  width: 40px;
  float: right;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  text-align: center;
}

.btn:hover {
  background: #f0f0f0;
}

.btn i {
  margin-top: 8px;
  display: inline-block !important;
}

/* LEFT PANEL */
#left-panel {
  float: left;
  width: calc(50% - 1px);
  width: -moz-calc(50% - 1px);
  width: -webkit-calc(50% - 1px);
}

#timeline {
  height: 40px;
  background: #2A557F;
}

#timeline i {
  padding-top: 3px;
}

#timeline #input-container {
  padding-top: 8px; 
  float: left;
  width: calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
}

#timeline #input-container input {
  cursor: pointer;
}

#timeline .btn {
  height: 40px;
  color: #fff;
}

#timeline .btn:hover {
  height: 40px;
  background: #3F80BF;
}

#timeline input[type="range"] {
  margin: 0;
  width: 100%;
}

#timeline.playing .btn.play i,
#timeline.playing .btn.pause i {
  margin-top: 10px;
}

#timeline.playing .btn.play {
  display: none;
}

#timeline.playing .btn.pause {
  display: inline-block;
}

#timeline .btn.pause {
  display: none;
}

#visualization {
  background: #000;
  height: calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
}

/* RIGHT PANEL */
#right-panel {
  float: left;
  width: 50%;
}

.date {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #2A557F;
  color: #fff;
}

#content {
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  float: right;
  overflow: auto;
}

#rolodex, #article {
  float: right;
  overflow: auto;
  width: 100%;
}

#article {
  display: none;
}

#visualization {
  position: relative;
  overflow: hidden;
}

#voyager {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -37px;
  margin-top: -18px;
}

#voyager img {
  width: 75px;
}

#captions {
  position: absolute;
  top: 0;
  left: 0;
}

#captions .caption {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 8px #000;
  border: 1px solid #000;
  line-height: 30px;
  text-align: center;
  background: #fff;
  cursor: pointer;
}

#captions .caption:hover {
  box-shadow: 0 0 12px #000;
}

#captions .caption i {
  padding-top: 6px;
  display: inline-block;
}

#captions .caption .caption-label {
  display: none;
}

#rolodex ul {
  margin: 0;
  padding: 0;
}

#rolodex ul li {
  padding: 3px 10px;
  height: 40px;
  list-style: none;
}

#rolodex ul li:first-child {
  box-shadow: 0 0 9px #2A557F;
}

#rolodex ul li i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 8px #000;
  border: 1px solid #000;
  color: #fff;
  line-height: 30px;
  margin-right: 5px;
}

#rolodex ul li * {
  vertical-align: middle;
}

#rolodex ul li .abstract-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 250px);
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  display: inline-block;
}

#rolodex ul li .abstract-title:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #111;
}

#rolodex ul li .abstract-date {
  padding-top: 7px;
  float: right;
}

#content[data-article-id] #rolodex {
  display: none;
}

#content[data-article-id] #article,
#content[data-article-id] .btn.close-article {
  display: block;
}

#article,
#content .btn.close-article {
  display: none;
}

#content .btn.close-article {
  font-size: 17.5px;
  position: absolute;
  top: 50px;
  right: 10px;
  color: #c33;
}

#content .btn.close-article:hover {
  background: none;
  color: #d55;
}

#article > * {
  padding: 10px;
}

#article > iframe, #article > img {
  display: block;
  margin: 0 auto;
}

#left-panel[data-article] #article {
  display: block;
}

#left-panel[data-article] #rolodex {
  display: none;
}
